{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="icon" href="{% static 'images/logo.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/styley.css' %}" />
    <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/register.js' %}"></script>
    <style>
        body{
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        }
        .navbgcolor {
            background-color: #346547;
            color: #ffffff;
            height:40px;
            line-height:40px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<div class="ui attached menu">
    <div class="header item">
    	<h3><span style="color: #346547;">Django中国官方博客</span></h3>
    </div>
    <a class="active item" href="/"><i class="home icon"></i> 首页 </a>
    <div class="ui simple dropdown item">
        文档教程
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><i class="tag icon"></i>Django教程</a>
            <a class="item"><i class="tag icon"></i>Flask教程</a>
            <a class="item"><i class="tag icon"></i>Tornado教程</a>
            <a class="item"><i class="tag icon"></i>常用第三方库</a>
            <a class="item"><i class="tag icon"></i>Web基础教学</a>
            <a class="item"><i class="globe icon"></i>Web安全</a>
        </div>
    </div>
    <a class="item" href="#">开源代码 </a>
    <a class="item" href="#">留言问答 </a>
    <a class="item" href="#">任务分发 </a>
    <a class="item" href="#">工具类 </a>
    <a class="item" href="#">关于本站 </a>
    <div class="right menu">
        <a class="item">register</a>
    </div>
</div>
<div class="ui container">
     <div class='register-table'>
        <form class="ui form">
            <div class="field">
                <label>name</label>
                <input name="name" placeholder="press in your name" type="text">
            </div>
            <div class="field">
                <label>password</label>
                <input name="password" placeholder="length between 8-20" type="password">
            </div>
            <div class="ui primary submit button">Submit</div>
            <div class="ui error message"></div>
            <div class="field">
                <a href="/register">not registered?do it now! </a>
            </div>
        </form>
    </div>
       
</div>

<div class="absloutefooter">
<div class="ui black vertical footer segment">
	<div style="float: right; height: 50px; line-height: 50px;">Django中国版权所有@2010-2016</div>
</div>
</div>

</body>
</html>